.path-mod-conceptmaps .conceptmap {
    /* for IE10+ touch devices */
    touch-action:none;
    height: 960px;
    position: relative; /* Defines this as the offsetparent for draggables and arrows. */
    width: 1440px;
    background-color: white;
    border-style: solid;
}

.path-mod-conceptmaps .afterconceptmap {
    margin-top: 990px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
        @media screen and (max-width: 1200px) {
            .path-mod-conceptmaps .conceptmap {
                /* for IE10+ touch devices */
                touch-action:none;
                height: 800px;
                /*position: absolute;*/
                width: 1200px;
                background-color: white;
                margin-left: "0";
                border-style: solid;
            }
        }
.path-mod-conceptmaps .w {
    padding: 0;
    padding-left: 0;
    padding-right: 25px;
    position: absolute;
    z-index: 4;
    width: 13em;
    border: 1px solid #2e6f9a;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius: 8px;
    border-radius: 8px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: move;
    background-color: white;
    font-size: 11px;
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
    white-space:pre-line;
}

.path-mod-conceptmaps .w-drag-box {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 40px;
}

.path-mod-conceptmaps .aLabel {
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.path-mod-conceptmaps .aLabel {
    background-color: white;
    opacity: 0.8;
    padding: 0.3em;
    border-radius: 0.5em;
    border: 1px solid #346789;
    cursor: pointer;
}

.path-mod-conceptmaps .editable-node {
	cursor: pointer;
}

.path-mod-conceptmaps .ep {
    position: absolute;
    top: 1.5px;
    bottom: 1.5px;
    right: 3px;
    width: 25px;
    background-color: orange;
    cursor: pointer;
    box-shadow: 0 0 1.5px black;
    -webkit-transition: -webkit-box-shadow 0.25s ease-in;
    -moz-transition: -moz-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
}

.path-mod-conceptmaps .ep:hover {
    box-shadow: 0px 0px 6px black;
}

.path-mod-conceptmaps .conceptmap ._jsPlumb_endpoint {
    z-index: 3;
}


.path-mod-conceptmaps .dragHover {
    border: 2px solid orange;
}

.path-mod-conceptmaps ._jsPlumb_endpoint { cursor:pointer; }

.path-mod-conceptmaps .modal-body ul li {
	list-style-type: disc;
	margin-left: 15px;
}

.path-mod-conceptmaps .disabledbutton {
    pointer-events: none;
}

.path-mod-conceptmaps .conecptMapForMe {
    background-color: red;
}

.path-mod-conceptmaps .tooltipKorrektur {
    position: relative;
    display: inline-block;
}

.path-mod-conceptmaps .tooltipKorrektur .tooltipKorrekturInhalt {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.path-mod-conceptmaps .tooltipKorrektur .tooltipKorrekturInhalt.tooltipKorrekturInhaltShow {
    visibility: visible;
}

.path-mod-conceptmaps .tooltipKorrektur .tooltipKorrekturInhalt::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.path-mod-conceptmaps ._jsPlumb_hover .tooltipKorrekturInhalt {
    visibility: visible;
}


.path-mod-conceptmaps .studentContainerKorrektur {
    padding-left: 45px;
    margin-left: 0 !important;
}

.path-mod-conceptmaps .x2 {
    transform: scale(2, 2);
}
