<!--
@Date:   2019-11-07T15:13:37+01:00
@Last modified time: 2019-11-07T15:13:47+01:00
-->
{{#js}}
require(['jquery', 'core/ajax', 'core/notification'], function($, ajax, notification) {

  // Delete auto edge
  $("a[id^='autoedge_']").click(function(event) {
    let ori_id = event.target.id;
    let edgeid = ori_id.replace('autoedge_', '');
    let cmid = event.target.dataset.cmid;

    // Remove this edge from auto correction
    var promises = ajax.call([{
      methodname: 'mod_conceptmaps_remove_auto_edge',
      args: {
        conceptmapsid: cmid,
        edgeid: edgeid
      }
    }]);
    promises[0].done(function(response) {
      if (response.success == true) {
        // delete the row from the table
        location.reload();
      } else {
        notification.addNotification({
          message: M.util.get_string('conceptmap_auto_edge_already_exists', 'conceptmaps'),
          type: "error"
        });
      }
    }).fail(function(ex) {
      console.error(ex);
    });
  });

  var getValue = function(id) {
    var formal_value = $("input[name='formal_correct_" + id + "']").prop("checked") ? 2 : 0;
    var content_value = $("input[name='content_correct_" + id + "']").prop("checked") ? 1 : 0;
    return formal_value + content_value;
  }

  // Change Status

  var changeVerification = function(event, verificationType) {
    let ori_id = event.target.name;
    let edgeid = ori_id.replace(verificationType + '_correct_', '');
    let cmid = event.target.dataset.cmid;
    let check = $("input[name='"+verificationType+"_correct_"+edgeid+"']").prop( "checked");

    var value = getValue(edgeid);

    var promises = ajax.call([{
      methodname: 'mod_conceptmaps_change_verification_autoedge',
      args: {
        conceptmapsid: cmid,
        edgeid: edgeid,
        value: value
      }
    }]);
    promises[0].done(function(response) {
      if (response.success == true) {
        // nothing todo
      } else {
        event.target.checked = !check;
        notification.addNotification({
          message: M.util.get_string('conceptmap_change_verification_failed', 'conceptmaps'),
          type: "error"
        });
      }
    }).fail(function(ex) {
      console.error(ex);
      event.target.checked = !check;
      notification.addNotification({
        message: M.util.get_string('conceptmap_change_verification_failed', 'conceptmaps'),
        type: "error"
      });
    });
  }

  $("input[name^='formal_correct']").change(function(event) {

    changeVerification(event, 'formal');
  });

  $("input[name^='content_correct']").change(function(event) {

    changeVerification(event, 'content');
  });

  $("input[id^='comment']").change(function(event) {
    let ori_id = event.target.id;
    let edgeid = ori_id.replace('comment_', '');
    let cmid = event.target.dataset.cmid;

    var value = event.target.value;

    var promises = ajax.call([{
      methodname: 'mod_conceptmaps_change_comment_autoedge',
      args: {
        conceptmapsid: cmid,
        edgeid: edgeid,
        value: value
      }
    }]);
    promises[0].done(function(response) {
      if (response.success == true) {
        // do nothing
      } else {
        //TODO: mark the falsy one
        notification.addNotification({
          message: M.util.get_string('conceptmap_change_verification_failed', 'conceptmaps'),
          type: "error"
        });
      }
    }).fail(function(ex) {
      console.error(ex);
      //TODO: mark the falsy one
      notification.addNotification({
        message: M.util.get_string('conceptmap_change_verification_failed', 'conceptmaps'),
        type: "error"
      });
    });
  });
});
{{/js}}

<h1>Autocorrection</h1>
<!-- TODO: show all edges of the auto correction. They are already in the database and only need to be shown here.
optionally: edit them here for everywhere, create an auto edge and delete -->
{{{ table }}}
