<!--
@Date:   2019-11-05T14:04:15+01:00
@Last modified time: 2019-11-07T15:16:22+01:00
-->
<h1>{{ topicname }} <small>{{# str }} submissions, conceptmaps {{/ str}}</small></h1>
<div class="container">
	<div class="row" >
		<div class="col-med-12">
			<table class="table">
        <thead>
  				<tr>
  					<th>{{# str }} name, conceptmaps {{/ str}}</th>
            <th>{{# str }} endcorrection, conceptmaps {{/ str}}</th>
  					<th>{{# str }} submission, conceptmaps {{/ str}}</th>
  				</tr>
        </thead>
        <tbody>
          {{# submissions }}
            {{#.}}
            <tr>
              <td>{{ name }}</td>
              <td><a href='view.php?id={{cmid}}&submission={{ id }}&action=solution' style='padding : 0px; {{ color }}'>{{# str }} show, conceptmaps {{/ str}}</a></td>
              <td><a href='view.php?id={{cmid}}&submission={{ id }}&action=submission' style='padding : 0px'>{{# str }} show, conceptmaps {{/ str}}</a></td>
            </tr>
            {{/.}}
          {{/ submissions }}
          {{^ submissions }}
            <tr>
              <td>{{# str }} nothing, conceptmaps {{/ str}}</td>
              <td>{{# str }} to, conceptmaps {{/ str}}</td>
              <td>{{# str }} show, conceptmaps {{/ str}}</td>
            </tr>
          {{/ submissions }}
        </tbody>
			</table>

			<div class="submit-row">
        {{# over }}
          <a class='btn btn-primary' href='manuKorrektur.php?topic={{ topicid }}'>{{# str }} correctionOfSingleConnections, conceptmaps {{/ str}}</a>
        {{/ over }}
          <!--<a class='btn btn-primary' href='downloadCSV.php?topic=$thema_id'>Download CSV</a>  TODO -->
			</div>
		</div>
	</div>
</div><!-- /.container -->
