<!--
@Date:   2019-11-05T14:04:15+01:00
@Last modified time: 2019-11-07T15:16:22+01:00
-->
<h1>Submissons <small>Overview</small></h1>
<div class="container">
    <div class="row" >
        <div class="col-med-12">
            <table class="table" id="abgabentable">
                <thead>
                    <tr >
                        <th>{{# str }} topic, conceptmaps {{/ str}}</th>
                        <th>{{# str }} status, conceptmaps {{/ str}}</th>
                        <th style="text-align: center;">{{# str }} submissions, conceptmaps {{/ str}}</th>
                        <th style="text-align: center;">{{# str }} correctionOfSingleConnections, conceptmaps {{/ str}}</th>
                        <!--<th style="text-align: center;">nachträgliche Abgaben <a id='popoverDataFehlendeAbgaben' data-original-title='nachträgliche Abgaben' data-content='Es gibt Studierende, die nicht in der vorgegebenen Zeit eine Concept Map abgegeben haben. Wenn Studierende die Möglichkeit bekommen sollen, eine Concept Map nachreichen zu können, muss eine Dummyabgabe für sie erstellt werden.'  data-trigger='hover' data-placement='bottom' data-html='true' rel='popover'><span class='glyphicon glyphicon-question-sign helphover'></span></a></th>-->
                    </tr>
                </thead>
                <tbody>
                  {{# topicsForSubmissions }}
                    {{#.}}
                    <tr>
                      <td style="width: 35%"><a href='createTopic.php?id={{cmid}}&topic={{ topicid }}'>{{ topicname }}</a></td>
                      <td>{{ status }}</td>
                      {{# empty }}
                        <td style="text-align: center;">{{ count }}</td>
                      {{/ empty }}
                      {{^ empty }}
                        <td style="text-align: center;"><a id='solutions' href='view.php?id={{cmid}}&topic={{ topicid }}&action=solution'>{{ count }}</a></td>
                      {{/ empty }}
                      {{# correctionAllowed }}
                        <td style="text-align: center;"><a href='view.php?id={{cmid}}&topic={{ topicid }}&action=singlecorrection'>{{# pix }} t/editstring, core {{/ pix }}</span></a></td>
                      {{/ correctionAllowed }}
                      {{^ correctionAllowed }}

                        <td style="text-align: center;">-</td>
                      {{/ correctionAllowed }}
                      </tr>

                    {{/.}}
                    {{/ topicsForSubmissions }}
                </tbody>
            </table>
        </div>
    </div>
</div><!-- /.container -->
