<!--
@Date:   2019-11-05T13:58:10+01:00
@Last modified time: 2019-11-07T13:21:06+01:00
-->
<div class="container">
  <div class="row">
    <div class="col-med-12">
      <div class="page-header">
        <h1>{{# str }} topics, conceptmaps {{/ str}} <small>{{# str }} overview, conceptmaps {{/ str}}</small></h1>
      </div>
      <div>
        {{^ noTopics }}
          <table class="table tablesorter" id="thementable">
            <thead>
              <tr>
                <th>{{# str }} topic, conceptmaps {{/ str}}</th>
                <th>{{# str }} topic_start, conceptmaps {{/ str}}</th>
                <th>{{# str }} topic_end, conceptmaps {{/ str}}</th>
                <th>{{# str }} topic_startcorrection, conceptmaps {{/ str}}</th>
                <th>{{# str }} topic_endcorrection, conceptmaps {{/ str}}</th>
                <th>{{# str }} status, conceptmaps {{/ str}}</th>
                <th>{{# str }} delete, conceptmaps {{/ str}}</th>
              </tr>
            </thead>
            <tbody>

              {{# activeTopics }}
                {{#.}}
                  <tr>
                    <td><a href='createTopic.php?id={{cmid}}&topic={{ topicid }}'>{{ topicname }}</a></td>
                    <td>{{# start }}{{#userdate}} {{ start }}, {{# str }} strftimedate, conceptmaps {{/ str }}{{/userdate}}{{/ start }}{{^ start }}-{{/ start }}</td>
                    <td>{{# end }}{{#userdate}} {{ end }}, {{# str }} strftimedate, conceptmaps {{/ str }}{{/userdate}}{{/ end }}{{^ end }}-{{/ end }}</td>
                    <td>{{# startcorrection }}{{#userdate}} {{ startcorrection }}, {{# str }} strftimedate, conceptmaps {{/ str }}{{/userdate}}{{/ startcorrection }}{{^ startcorrection }}-{{/ startcorrection }}</td>
                    <td>{{# endcorrection }}{{#userdate}} {{ endcorrection }}, {{# str }} strftimedate, conceptmaps {{/ str }}{{/userdate}}{{/ endcorrection }}{{^ endcorrection }}-{{/ endcorrection }}</td>
                    <td>{{ status }}</td>
                    <td><a href='view.php?id={{cmid}}&action=delete&topic={{ topicid }}'><span class='glyphicon glyphicon-remove'>X</span></a></td>
                  </tr>

                {{/.}}
                {{/ activeTopics }}

                {{# upcomingTopics }}
                  {{#.}}
                    <tr>
                      <td><a href='createTopic.php?id={{cmid}}&topic={{ topicid }}'>{{ topicname }}</a></td>
                      <td>{{# start }}{{#userdate}} {{ start }}, {{# str }} strftimedate, conceptmaps {{/ str }}{{/userdate}}{{/ start }}{{^ start }}-{{/ start }}</td>
                      <td>{{# end }}{{#userdate}} {{ end }}, {{# str }} strftimedate, conceptmaps {{/ str }}{{/userdate}}{{/ end }}{{^ end }}-{{/ end }}</td>
                      <td>{{# startcorrection }}{{#userdate}} {{ startcorrection }}, {{# str }} strftimedate, conceptmaps {{/ str }}{{/userdate}}{{/ startcorrection }}{{^ startcorrection }}-{{/ startcorrection }}</td>
                      <td>{{# endcorrection }}{{#userdate}} {{ endcorrection }}, {{# str }} strftimedate, conceptmaps {{/ str }}{{/userdate}}{{/ endcorrection }}{{^ endcorrection }}-{{/ endcorrection }}</td>
                      <td>{{ status }}</td>
                      <td><a href='view.php?id={{cmid}}&action=delete&topic={{ topicid }}'><span class='glyphicon glyphicon-remove'>X</span></a></td>
                    </tr>

                  {{/.}}
                  {{/ upcomingTopics }}

                  {{# completedTopics }}
                    {{#.}}
                      <tr>
                        <td><a href='createTopic.php?id={{cmid}}&topic={{ topicid }}'>{{ topicname }}</a></td>
                        <td>{{# start }}{{#userdate}} {{ start }}, {{# str }} strftimedate, conceptmaps {{/ str }}{{/userdate}}{{/ start }}{{^ start }}-{{/ start }}</td>
                        <td>{{# end }}{{#userdate}} {{ end }}, {{# str }} strftimedate, conceptmaps {{/ str }}{{/userdate}}{{/ end }}{{^ end }}-{{/ end }}</td>
                        <td>{{# startcorrection }}{{#userdate}} {{ startcorrection }}, {{# str }} strftimedate, conceptmaps {{/ str }}{{/userdate}}{{/ startcorrection }}{{^ startcorrection }}-{{/ startcorrection }}</td>
                        <td>{{# endcorrection }}{{#userdate}} {{ endcorrection }}, {{# str }} strftimedate, conceptmaps {{/ str }}{{/userdate}}{{/ endcorrection }}{{^ endcorrection }}-{{/ endcorrection }}</td>
                        <td>{{ status }}</td>
                        <td><a href='view.php?id={{cmid}}&action=delete&topic={{ topicid }}'><span class='glyphicon glyphicon-remove'>X</span></a></td>
                      </tr>

                    {{/.}}
                    {{/ completedTopics }}

            </tbody>
          </table>
          {{/ noTopics }}
          {{# noTopics}}
            <div class='col-md-12' style='text-align:center;'> <label>{{# str }} noTopicsAvailable, conceptmaps {{/ str }} </label></div>
            {{/ noTopics }}
            <div class="submit-row">
              <a class="btn btn-primary btn" href="createTopic.php?id={{cmid}}">{{# str }} createTopic, conceptmaps {{/ str }}</a>
            </div>
      </div>
    </div>
  </div>
</div><!-- /.container -->
