<!--
@Date:   2019-11-05T13:58:10+01:00
@Last modified time: 2019-11-07T13:21:06+01:00
-->
<div class="container">
  <div class="row">
    <div class="col-med-12">
      <div class="page-header">
        <h1>{{# str }} topics, conceptmaps {{/ str}} <small>{{# str }} overview, conceptmaps {{/ str}}</small></h1>
      </div>
      <div>
        {{^ noTopics }}
          <table class="table tablesorter" id="thementable">
            <thead>
              <tr>
                <th>{{# str }} topic, conceptmaps {{/ str}}</th>
                <th>{{# str }} topic_start, conceptmaps {{/ str}}</th>
                <th>{{# str }} topic_end, conceptmaps {{/ str}}</th>
                <th>{{# str }} topic_startcorrection, conceptmaps {{/ str}}</th>
                <th>{{# str }} topic_endcorrection, conceptmaps {{/ str}}</th>
                <th>{{# str }} status, conceptmaps {{/ str}}</th>
                <th>{{# str }} edit, conceptmaps {{/ str}}</th>
              </tr>
            </thead>
            <tbody>

              {{# activeTopics }}
                {{#.}}
                  <tr>
                    <td>{{ topicname }}</td>
                    <td>{{# start }}{{#userdate}} {{ start }}, {{# str }} strftimedate, conceptmaps {{/ str }}{{/userdate}}{{/ start }}{{^ start }}-{{/ start }}</td>
                    <td>{{# end }}{{#userdate}} {{ end }}, {{# str }} strftimedate, conceptmaps {{/ str }}{{/userdate}}{{/ end }}{{^ end }}-{{/ end }}</td>
                    <td>{{# startcorrection }}{{#userdate}} {{ startcorrection }}, {{# str }} strftimedate, conceptmaps {{/ str }}{{/userdate}}{{/ startcorrection }}{{^ startcorrection }}-{{/ startcorrection }}</td>
                    <td>{{# endcorrection }}{{#userdate}} {{ endcorrection }}, {{# str }} strftimedate, conceptmaps {{/ str }}{{/userdate}}{{/ endcorrection }}{{^ endcorrection }}-{{/ endcorrection }}</td>
                    <td>{{ status }}</td>
                    <td>
                    {{^ submitted }}
                      <a href='view_student.php?id={{cmid}}&action=edit&topic={{ topicid }}'>{{#pix}}i/edit,core, {{# str }} edit, conceptmaps {{/ str }} {{/pix}}</a>
                      {{# redo }}
                        <a href='view_student.php?id={{cmid}}&action=solution&topic={{ topicid }}'>{{#pix}}i/hide,core, {{# str }} view, conceptmaps {{/ str }} {{/pix}}</a>
                      {{/ redo }}
                    {{/ submitted }}
                    {{# submitted }}
                      {{#pix}}i/edit,core, {{# str }} editSubmitted, conceptmaps {{/ str }} {{/pix}}
                    {{/ submitted }}
                    </td>
                  </tr>

                {{/.}}
                {{/ activeTopics }}

                {{# upcomingTopics }}
                  {{#.}}
                    <tr>
                      <td>{{ topicname }}</td>
                      <td>{{# start }}{{#userdate}} {{ start }}, {{# str }} strftimedate, conceptmaps {{/ str }}{{/userdate}}{{/ start }}{{^ start }}-{{/ start }}</td>
                      <td>{{# end }}{{#userdate}} {{ end }}, {{# str }} strftimedate, conceptmaps {{/ str }}{{/userdate}}{{/ end }}{{^ end }}-{{/ end }}</td>
                      <td>{{# startcorrection }}{{#userdate}} {{ startcorrection }}, {{# str }} strftimedate, conceptmaps {{/ str }}{{/userdate}}{{/ startcorrection }}{{^ startcorrection }}-{{/ startcorrection }}</td>
                      <td>{{# endcorrection }}{{#userdate}} {{ endcorrection }}, {{# str }} strftimedate, conceptmaps {{/ str }}{{/userdate}}{{/ endcorrection }}{{^ endcorrection }}-{{/ endcorrection }}</td>
                      <td>{{ status }}</td>
                      <td> - </td>
                    </tr>

                  {{/.}}
                  {{/ upcomingTopics }}

                  {{# completedTopics }}
                    {{#.}}
                      <tr>
                        <td>{{ topicname }}</td>
                        <td>{{# start }}{{#userdate}} {{ start }}, {{# str }} strftimedate, conceptmaps {{/ str }}{{/userdate}}{{/ start }}{{^ start }}-{{/ start }}</td>
                        <td>{{# end }}{{#userdate}} {{ end }}, {{# str }} strftimedate, conceptmaps {{/ str }}{{/userdate}}{{/ end }}{{^ end }}-{{/ end }}</td>
                        <td>{{# startcorrection }}{{#userdate}} {{ startcorrection }}, {{# str }} strftimedate, conceptmaps {{/ str }}{{/userdate}}{{/ startcorrection }}{{^ startcorrection }}-{{/ startcorrection }}</td>
                        <td>{{# endcorrection }}{{#userdate}} {{ endcorrection }}, {{# str }} strftimedate, conceptmaps {{/ str }}{{/userdate}}{{/ endcorrection }}{{^ endcorrection }}-{{/ endcorrection }}</td>
                        <td>{{ status }}</td>
                        <td>
                          {{# redo }}
                            <a href='view_student.php?id={{cmid}}&action=edit&topic={{ topicid }}'>{{#pix}}i/edit,core, {{# str }} edit, conceptmaps {{/ str }} {{/pix}}</a>
                            {{^ corrected }}
                              <a href='view_student.php?id={{cmid}}&action=solution&topic={{ topicid }}'>{{#pix}}i/hide,core, {{# str }} view, conceptmaps {{/ str }} {{/pix}}</a>
                            {{/ corrected }}
                          {{/ redo}}
                          {{# corrected }}
                            <a href='view_student.php?id={{cmid}}&action=solution&topic={{ topicid }}'>{{#pix}}i/hide,core, {{# str }} view, conceptmaps {{/ str }} {{/pix}}</a>
                          {{/ corrected }}
                          {{^ corrected }}
                          {{# submitted }}
                            {{#pix}}i/edit,core, {{# str }} editSubmitted, conceptmaps {{/ str }} {{/pix}}
                          {{/ submitted }}
                          {{/ corrected }}
                        </td>
                      </tr>

                    {{/.}}
                    {{/ completedTopics }}

            </tbody>
          </table>
          {{/ noTopics }}
          {{# noTopics}}
            <div class='col-md-12' style='text-align:center;'> <label>{{# str }} noTopics, conceptmaps {{/ str}}</label></div>
            {{/ noTopics }}
      </div>
    </div>
  </div>
</div><!-- /.container -->
